<button (click)="saveDiagram()">saveDiagram</button>
<button (click)="loadDiagram()">loadDiagram</button>

<style>
    .e-symbolpalette {
        display: block;
    }
</style>
<div class="control-section">
    <div style="width: 100%"> 
        <div id="palette-space" class="sb-mobile-palette">
            <ejs-treeview id="tree1" #list [fields]='field' [allowDragAndDrop]='allowDragAndDrop' (nodeDragStop)="onDragStop($event)" ></ejs-treeview>
        </div>
        <div id="diagram-space" class="sb-mobile-diagram">
            <div class="content-wrapper">
                <ejs-diagram #diagram id="diagram" width="400px" height="200px" [snapSettings]='snapSettings' [getConnectorDefaults]='connDefaults' [getNodeDefaults]='nodeDefaults' [nodes]="nodes" (mouseOver)="onMouseOver($event)" >
                    
              <ng-template #nodeTemplate let-data>                 
                <ng-container>
                    <button value="button">button</button>
                </ng-container>
            </ng-template>
                </ejs-diagram>
            </div>
        </div>
    </div>
</div>
